Flask==0.12.4
Flask-Migrate==2.2.1
Flask-RESTful==0.3.4
Flask-SQLAlchemy==2.0
Flask-Script==2.0.5
Jinja2==2.10
jmespath==0.9.3
Mako==1.0.1
MarkupSafe==0.23
SQLAlchemy==1.2.11
Werkzeug==0.14.1
alembic==0.7.7
amqp==2.2.1
aniso8601==1.0.0
anyjson==0.3.3
ujson==1.35
argparse==1.2.1
gevent==1.0.2
greenlet==0.4.7
itsdangerous==0.24
kombu==4.1.0
retrying==1.3.3
psycopg2==2.7.3.2
pytz==2015.4
six==1.11.0
future==0.16.0
wsgiref==0.1.2
protobuf==3.6.1
pybreaker==0.4.4
python-dateutil==2.4.2
-e git+https://github.com//CanalTP/navitia_python_wrapper#egg=navitia_wrapper
requests==2.20.1
certifi==2018.8.24
chardet==3.0.4
idna==2.7
urllib3==1.24.1
blinker==1.4
sh==1.11
python-json-logger==0.1.7
vine==1.1.4
celery==4.1.0
redis==2.10.6
flask-cache==0.13.1
click==6.7
enum34==1.1.6
